#map {
    border: 3px blue outset;
    background-color: blue;
}

#map td {
    width: 2cm;
    height: 2cm;
    margin: 0px;
    padding: 0px;
    border: 2px blue inset;
    border-radius: 2cm;
    background-color: white;
    cursor: pointer;
}

#map td.player1 {
    background: yellow;
}

#map td.player2 {
    background: red;
}